snippet bg
	background: ${1:transparent} url(${2:/img/}) ${3:top} ${4:left} ${5:no-repeat};
snippet bradius
	border-radius: ${1:5}px;
	-moz-border-radius: ${2:$1}px;
	-webkit-border-radius: ${3:$1}px;
